/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@200;400;500&display=swap");

:root {
  --primary-color: #fff1eb;
  --secondary-color: #ffd5c2;
  --font-color-green: #899d78;
  --font-color-green-bold: #36413e;
  --font-color-pink: #e79888;
  --font-color-pink-bold: #9e4359;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 6rem;
}
/* GLOBAL--text */

.text-desc {
  font-size: 22px;
  color: var(--font-color-green);
}
.text-desc:hover {
  color: var(--font-color-pink);
}
.text-desc:focus {
  color: var(--font-color-pink-bold);
}
.title {
  margin: 20px 0;
  font-weight: 900;
  color: var(--font-color-green-bold);
}
/* GLOBAL--text */
body {
  background: var(--primary-color);
  overflow-x: hidden;
}
section {
  margin: 100px 0;
}
.container {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1440px;
}
header {
  background: var(--secondary-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.mobile-navbar {
  display: flex;
}
.mobile-navbar a {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 20px 25px;
}
.btn-mobile-navbar {
  display: none;
}
.btn-mobile-navbar div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}
.logo {
  font-size: 30px;
}
.logo a {
  color: var(--font-color-green);
  font-family: "Fredoka", sans-serif;
}
.logo span {
  color: var(--font-color-pink-bold);
  font-family: "Fredoka", sans-serif;
}
.button {
  padding: 10px;
  border-radius: 25px;
  width: 240px;
  height: 60px;
  font-size: 24px;
  color: var(--font-color-green-bold);
  background: var(--font-color-green);
  border: none;
  box-shadow: 0px 4px 4px 0px #e7988880;
  cursor: pointer;
}
.button:hover {
  background: var(--font-color-pink-bold);
}
/* GLOBAL */

/* HERO-SECTION  */
.bg-img {
  background-image: url("../img/block_pink.svg");
  background-repeat: no-repeat;
  background-position: top;
}
.hero-section {
  display: flex;
  justify-content: space-between;
}
.hero-section__left {
  width: 55%;
}
.hero-section h1,
.hero-section h2,
.hero-section h3,
.hero-section span {
  font-size: calc(1rem + 1.1vw);
}
.hero-section h1 {
  font-weight: bolder;
  color: var(--font-color-green-bold);
  margin: 50px 0 25px 0;
}
.hero-section h2 {
  font-weight: 500;
  color: var(--font-color-pink);
  margin-bottom: 40px;
}
.hero-section span {
  font-weight: 500;
  color: var(--font-color-pink-bold);
}
.hero-section h3 {
  font-weight: 300;
  color: var(--font-color-pink);
  margin-bottom: 12px;
}
.hero-image {
  width: 320px;
  height: 320px;
  border-radius: 100px;
  object-fit: cover;
}
.highlight-works {
  position: relative;
  height: 35vh;
  overflow: hidden;
  cursor: grab;
  margin: 100px 0 50px 0;
}
.slider-wrap {
  position: absolute;
  top: 50;
  left: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.item img {
  height: 25vh;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 80px;
}
.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-more .button {
  width: auto;
}
/* HERO-SECTION  */

/* ABOUT-SECTION */
#about {
  background-image: url("../img/block_pink2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-section__left {
  display: inline;
  width: 60%;
}
.about-section__right {
  display: inline;
  width: 40%;
}
.about-section__right .icon {
  margin-right: 10px;
  width: 80px;
}
.about-section h1,
.about-section h2,
.about-section h3,
.about-section span {
  font-size: calc(1.15rem + 0.4vw);
}
.about-section h1 {
  font-weight: bolder;
  color: var(--font-color-green-bold);
  margin-bottom: 25px;
}
.about-section h2 {
  font-weight: 400;
  color: var(--font-color-green);
}
.about-section span {
  font-weight: 600;
  color: var(--font-color-green);
}
.about-section h3 {
  font-weight: 400;
  color: var(--font-color-green);
  margin: 20px 0 10px 0;
}
.about-image {
  margin-bottom: 50px;
}

/* ABOUT-SECTION */

/* CONTACT-SECTION */
.contact-section {
  width: 70%;
  background: var(--secondary-color);
  padding: 50px 70px;
  margin: 40px auto;
  border-radius: 30px;
}
.form-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-form {
  font-size: 20px;
  color: var(--font-color-green);
}
.input {
  width: 70%;
  margin: 10px 0;
  padding: 10px 20px;
  box-sizing: border-box;
  background: var(--font-color-pink);
  border: 0px;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  color: var(--font-color-pink-bold);
}
.message {
  width: 100%;
  height: 250px;
  margin: 30px 0;
  padding: 15px 20px;
  resize: none;
}
.contact-section .button {
  width: 100%;
  display: block;
}
/* CONTACT-SECTION */

/* WORKS-SECTION ------------------------------------------ */
.works-section__sidebar {
  position: fixed;
}

.works-section__sidebar ul li {
  margin: 20px 0;
}

.works-section__main-content {
  margin-left: 300px;
  position: relative;
}

.works-section__main-content--items {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-section__main-content--items .item {
  width: 240px;
  margin: 30px 0;
}
/* WORKS-SECTION */

/* DETAIL-SECTION  */

.item-details {
  margin: 150px 0;
  position: relative;
}
.detail {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 0 40%;
  border-radius: 25px;
  margin: 30px 0;
}

.item-details h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color-green);
}

.item-details h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--font-color-green);
  margin: 20px 0 10px 0;
}

.item-details .button {
  width: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
}

/* DETAIL-SECTION  */

/* FOOTER  */
.footer {
  background: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FOOTER  */
