/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@200;400;500&display=swap");
:root {
  --primary-color: #fff1eb;
  --secondary-color: #ffd5c2;
  --font-color-green: #899d78;
  --font-color-green-bold: #36413e;
  --font-color-pink: #e79888;
  --font-color-pink-bold: #9e4359;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 5.5rem;
}
/* GLOBAL--text */

.text-desc {
  font-size: 22px;
  color: var(--font-color-green);
}
.text-desc:hover {
  color: var(--font-color-pink);
}
.text-desc:focus {
  color: var(--font-color-pink-bold);
}
.title {
  margin: 20px 0;
  font-weight: 900;
  color: var(--font-color-green-bold);
}
/* GLOBAL--text */

body {
  background: var(--primary-color);
  height: 100vh;
  overflow-x: hidden;
}
section {
  margin: 125px 0;
}

.container {
  margin: 0 90px;
  max-width: 1440px;
}

header {
  background: var(--secondary-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 30px;
}
.navbar__logo a {
  color: var(--font-color-green);
  font-family: "Fredoka", sans-serif;
}
.navbar__logo span {
  color: var(--font-color-pink-bold);
  font-family: "Fredoka", sans-serif;
}

.navbar__menu ul {
  display: flex;
}

.navbar__menu ul li {
  margin: 20px 25px;
}

.button {
  padding: 10px;
  border-radius: 25px;
  width: 240px;
  height: 60px;
  font-size: 24px;
  color: var(--font-color-green-bold);
  background-color: var(--font-color-green);
  border: none;
  box-shadow: 0px 4px 4px 0px #e7988880;
}
/* GLOBAL */
/* HERO-SECTION  */
.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 150px 0;
}
.hero-section__left {
  width: 55%;
}
.hero-section h1 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--font-color-green-bold);
  margin-bottom: 25px;
}

.hero-section h2 {
  font-size: 34px;
  font-weight: 500;
  color: var(--font-color-pink);
  margin-bottom: 40px;
}

.hero-section span {
  font-size: 34px;
  font-weight: 500;
  color: var(--font-color-pink-bold);
}

.hero-section h3 {
  font-size: 25px;
  font-weight: 300;
  color: var(--font-color-pink);
  margin-bottom: 12px;
}

.hero-image {
  width: 320px;
  height: 320px;
  border-radius: 100px;
  object-fit: cover;
}

.highlight-section {
  padding: 0;
}

.highlight-section__item {
  display: flex;
  justify-content: space-between;
}
.highlight-section__item .item {
  margin: 0 0 80px;
  width: 200px;
}

.highlight-section .button {
  width: auto;
  margin: 0 auto;
  display: block;
}

/* HERO-SECTION  */

/* ABOUT-SECTION */
#about {
  max-width: 1440px;
  background-image: url("../img/block_pink2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-section__left {
  display: inline;
  width: 60%;
}
.about-section__right {
  display: inline;
  width: 40%;
}
.about-section__right .item {
  margin:0 10px;
  width: 80px;
}
.about-section h1 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--font-color-green-bold);
  margin-bottom: 25px;
}

.about-section h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--font-color-green);
}

.about-section span {
  font-weight: 600;
  font-size: 24px;
  color: var(--font-color-green);
}

.about-section h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--font-color-green);
  margin: 20px 0 10px 0;
}

.about-image {
  margin-bottom: 50px;
}

/* ABOUT-SECTION */

/* CONTACT-SECTION */
.contact-section {
  width: 70%;
  background: var(--secondary-color);
  padding: 50px 70px;
  margin: 40px auto;
  border-radius: 30px;
}
.label-form {
  font-size: 20px;
}
.input {
  width: 100%;
  margin: 10px 0;
  padding: 15px 20px;
  box-sizing: border-box;
  background: var(--font-color-pink);
  border: 0px;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
}
.message {
  height: 250px;
  margin: 30px 0;
  padding: 15px 20px;
  resize: none;
}
.contact-section .button {
  width: 100%;
  display: block;
}
/* CONTACT-SECTION */

/* WORKS-SECTION */
.works-section__sidebar {
  position: fixed;
  margin-top: -70px;
}

.works-section__sidebar ul li {
  margin: 20px 0;
}

.works-section__main-content {
  margin-left: 300px;
  position: relative;
  z-index: -1;
}

.works-section__main-content--items {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item {
  width: 240px;
  margin: 50px 24px;
}
/* WORKS-SECTION */
